{{define "content"}}
<!-- <form id="logout" action="/logout" method="post">
    <input type="submit" value="Logout">
</form> -->
<div>
    <form action="/product" method="post" class="create-form">
        <input type="text" id="name" name="name" required autocapitalize="sentences" placeholder="¿Que te falta?">
        <input type="submit" value="Añadir" class="button">
    </form>
</div>
<h1>Me falta...</h1>
<div class="products">
    {{range .Products}}
    <div class="item">
        <p>{{.Name}}</p>
        <form id="form-{{.ID}}" method="post" action="/product/delete">
            <input type="hidden" name="id" value="{{.ID}}">
            <input type="submit" value="&#10003" class="button">
        </form>
    </div>
    {{end}}
</div>
{{end}}
